{% extends 'base.html' %}

{% block main %}

    <h1>List</h1>
<br>
<table>
    <tr>
        <th>nome</th>
        <th>status</th>    
        <td>Deletar</td>
        <td>Editar</td>
    </tr>
    {% for cardapio_categoria in object_list %}
        <tr>
            <th>{{ cardapio_categoria.nome }}</th>
            <th>{{ cardapio_categoria.status }}</th>

        <td><a href="{% url 'delete_categoria' cardapio_categoria.id %}">Deletar</a></td>
        <td><a href="{% url 'update_categoria' cardapio_categoria.id %}">Editar</a></td>
        </tr>
        
    {% endfor %}
    </table>
    <a href="{% url 'create_categoria' %}">Novo</a>
{% endblock %}