{% extends 'base.html' %}

{% block main %}

    <h1>List</h1>
<br>
<table>
    <tr>
        <th>nome</th>
        <th>cpf</th>
        <th>celular</th>    
        <th>historico</th>    
        <td>Deletar</td>
        <td>Editar</td>
    </tr>
    {% for cliente in object_list %}
        <tr>
            <th>{{ cliente.nome_cliente }}</th>
            <th>{{ cliente.cpf }}</th>
            <th>{{ cliente.celular }}</th>
            <th>{{ cliente.historico_pedido }}</th>
        

        
        <td><a href="{% url 'delete_cliente' cliente.id %}">Deletar</a></td>
        <td><a href="{% url 'update_cliente' cliente.id %}">Editar</a></td>
        </tr>
        
    {% endfor %}
    </table>
    <a href="{% url 'create_cliente' %}">Novo</a>
{% endblock %}