{% extends 'base.html' %}

{% block main %}

    <h1>List</h1>
<br>
<table>
    <tr>
        <th>Iten</th>        
        <th>Quantidade</th>
        <th>Valor Unitario</th>        
        <th>valor Total</th>
        <th>Complemento</th>
        <th>Deletar</th>
        <th>Editar</th>
    </tr>
    {% for iten_pedido in object_list %}
        <tr>
            <td>{{ iten_pedido.item }}</td>
            <td>{{ iten_pedido.quantidade }}</td>
            <td>{{ iten_pedido.valor_unitario }}</td>
            <td>{{ iten_pedido.total }}</td>
            <td>{{ iten_pedido.complementos }}</td>
           
        

        
        <td><a href="{% url 'delete_iten_pedido' iten_pedido.id %}">Deletar</a></td>
        <td><a href="{% url 'update_iten_pedido' iten_pedido.id %}">Editar</a></td>
        </tr>
        
    {% endfor %}
    </table>
    <a href="{% url 'create_iten_pedido' %}">Novo</a>
{% endblock %}