{% extends 'base.html' %}

{% block main %}

    <h1>List</h1>
<br>
<table>
    <tr>
        <th>Nome</th>        
        <th>Total de mesa</th>
        <th>Horario de Abertura</th>        
        <th>Horario de Encerramento</th>
        <th>Deletar</th>
        <th>Editar</th>
    </tr>
    {% for restaurante in object_list %}
        <tr>
            <td>{{ restaurante.nome }}</td>
            <td>{{ restaurante.total_mesa }}</td>
            <td>{{ restaurante.horario_abertura }}</td>
            <td>{{ restaurante.horario_encerramento }}</td>
           
        
        <td><a href="{% url 'delete_restaurante' restaurante.id %}">Deletar</a></td>
        <td><a href="{% url 'update_restaurante' restaurante.id %}">Editar</a></td>
        </tr>
        
    {% endfor %}
    </table>
    <a href="{% url 'create_restaurante' %}">Novo</a>
{% endblock %}