{% extends 'admin/base.html' %}
{% load templates_tags_admin %}
{% load static %}

{% block title %}Stryn - {% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} {% endblock %}
{% block extrahead %}

<link rel="icon" type="image/png" sizes="128x128" href="{% static 'core/favicons/favicon-128x128.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'core/favicons/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/favicons/favicon-16x16.png' %}">
<link rel="icon" type="image/ico" href="{% static 'core/favicons/favicon.ico' %}">

{% customizados_style_admin as customizados_style_admin %}
{% customizados_script_admin as customizados_script_admin %}
{% customizados_head_admin as customizados_head_admin %}

<!-- Head Customizado-->
{% for head_custom in customizados_head_admin %}
{{head_custom|safe}}
{% endfor %}

<!-- Style Customizado-->
<style>
	{% for estilo in customizados_style_admin %}
	{{estilo|safe}}
	{% endfor %}
</style>

<!-- Script Customizado-->
<script>
	{% for customjs in customizados_script_admin %}
	{{customjs|safe}}
	{% endfor %}
</script>
{% endblock %}


